<p id="notice"><%= notice %></p>  <!--打开一个段落-->


<nav class="navbar navbar-expand-lg navbar-light  alert alert-primary" role="alert"><!--nav导航栏-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><font color="#008000"><h2>绿帽子大学<h2></font></a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">      <!--未排序列表-->
        <a class="nav-link" href="#"><h5><i>首页 </i></h5><span class="sr-only">(current)</span></a>
      </li>w
      <li class="nav-item">
        <a class="nav-link" href="#"><h5><b>介绍</b></h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><h5>注册</h5></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<h5>请输入你知道的手机品牌：</h5>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phones.each do |phone| %>
      <tr>
        <td><%= phone.name %></td>
        <td><%= link_to 'Show', phone %></td>
        <td><%= link_to 'Edit', edit_phone_path(phone) %></td>
        <td><%= link_to 'Destroy', phone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</br>
</br>

<button type="button" class="btn btn-primary">
  <%= link_to 'New Phone', new_phone_path %>
</button>
<button type="button" class="btn btn-outline-primary">
  <%= link_to 'New Phone', new_phone_path %>
</button>

</br>
</br><!--换行-->
</br>
<hr /><!--添加分割线-->


<font color="#008000">这文本是16进制a颜色</font><br />
<br />
<a href="http://www.google.com/" target="_blank" ><font color="#008000"><h4><i><b>Google</b></i><h4></font></a>


<a href="http://www.tutorialehtml.com/" title="HTML link image example">
	<img alt="HTML图像例子" src="/assets_tutorials/img/image.jpg" 宽度="120" 高度="75" />
</a>
<table border="1" cellspacing="10"> 
	<tr> 
		<th>Column 1</th>
		<th>Column 2</th> 
	</tr> 
	<tr>
		<td>Row 1 Cell 1</td>
		<td>Row 1 Cell 2</td>
	</tr>
	<tr>
		<td>Row 2 Cell 1</td>
		<td>Row 2 Cell 2</td>
	</tr> 
</table>



<h1>经典回忆</h1>
<p>
 相思无用，惟别而已。别期若有定，千般煎熬又何如？莫道黯然销魂，何处<strong>柳暗花明</strong>？<br>
 ——《<a href="https://zh.wikipedia.org/zh-hans/神鵰俠侶">神雕侠侣</a>》
</p>

<p>Japanese example: ご飯が熱い。</p>

<meta name="author" content="Chris Mills">
<meta name="description" content="The MDN Learning Area aims to provide
complete beginners to the Web with all they need to know to get
started with developing web sites and applications.">

<ul>
  <li><a href="https://lmzdx.com/" title="google"> <em><strong>豆浆</strong></em></a></li>
  <li>油条</li>
  <li>豆汁</li>
  <li>焦圈</li>
</ul>


<h4>
<dl>
  <dt>培根</dt>
  <dd>整个世界的粘合剂</dd>
  <dt>鸡蛋</dt>
  <dd>一块蛋糕的粘合剂</dd>
</dl></h4>

<table border="1">
  <tr>
    <th>Month</th>
    <th>Savings</th>
  </tr>
  <tr>
    <td>January</td>
    <td>$100</td>
  </tr>
</table>
